<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <a href="sobre">Sobre</a><br>
    <ion-button color="success" expand="full" href="sobre">Sobre</ion-button>
    <ion-button shape="round" fill="outline" (click)="sobre()">
      <ion-icon slot="start" name="information-circle"></ion-icon>
      Sobre
    </ion-button>
  </div>
</ion-content>
